In [30]:
import pandas as pd
import numpy as np

In [31]:

# Load dataset
cc_data = pd.read_csv("data/cc_approvals.data", header=None)

In [32]:
# Inspect data
print(cc_data.head(5))

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [33]:
column_names = ["Gender",
                "Age",
                "Debt",
                "Married",
                "BankCustomer",
                "EducationLevel",
                "Ethnicity",
                "YearsEmployed",
                "PriorDefault",
                "Employed",
                "CreditScore",
                "DriversLicense",
                "Citizen",
                "ZipCode",
                "Income",
                "ApprovalStatus"]

# Add column names
cc_data.columns = column_names

cc_data.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,ApprovalStatus
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+

In [34]:
cc_data.shape

(690, 16)

In [35]:
#define mask to filter only for values we are interested in
mask = ['Age', 'Debt','EducationLevel','Ethnicity','YearsEmployed', 'Employed', 'CreditScore','Income'] 

# apply mask
X = cc_data[mask]

y= cc_data["ApprovalStatus"]

In [36]:
X.nunique()

Age               350
Debt              215
EducationLevel     15
Ethnicity          10
YearsEmployed     132
Employed            2
CreditScore        23
Income            240
dtype: int64

In [37]:
X.dtypes

Age                object
Debt              float64
EducationLevel     object
Ethnicity          object
YearsEmployed     float64
Employed           object
CreditScore         int64
Income              int64
dtype: object

In [38]:
# Replace '?' with NaN
X = X.replace('?', np.NaN)

In [39]:
X.isnull().sum()

Age               12
Debt               0
EducationLevel     9
Ethnicity          9
YearsEmployed      0
Employed           0
CreditScore        0
Income             0
dtype: int64

In [40]:
# Drop rows with missing values in X and the same rows in y
X = X.dropna(axis=0)
y = y[X.index]

In [41]:
print(X.shape)
print(y.shape)

(669, 8)
(669,)